{% extends 'base.html.twig' %}

{% block title %}Mes notes
{% endblock %}

{% block body %}
	<div id="accordion">
		{% for note in notes %}
			<div class="card">
				<div class="card-header" id="heading{{ note.id }}">
					<h5 class="mb-0">
						<button class="btn" style="width:100%" data-toggle="collapse" data-target="#collapse{{ note.id }}" aria-expanded="true" aria-controls="collapse{{ note.id }}">
							<span class="float-left">{{ note.title }}</span>
							<span class="float-right">
								{% if note.updatedAt %}
									{{ note.updatedAt|date('d/m/Y') }}
								{% else %}
									{{ note.createdAt|date('d/m/Y') }}
								{% endif %}
							</span>
						</button>
					</h5>
				</div>

				<div id="collapse{{ note.id }}" class="collapse" aria-labelledby="heading{{ note.id }}" data-parent="#accordion">
					<div class="card-body" style="margin-bottom: 20px">
						<div style="position: absolute; bottom: 5px; right: 5px;">
							<a href="{{ path('app_note_edit', {'id': note.id}) }}">
								<img src="{{ asset('images/icon-edit.png') }}" alt="Edit" style="height: 25px">
							</a>
						</div>
						{{ note.content }}
					</div>
				</div>

			</div>
		{% else %}
			<div class="card">
				<div class="card-body">
					no records found
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
